@import './cssreset.scss';

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSansLight-Italic.eot');
    src: url('../../assets/fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSansLight-Italic.woff') format('woff'),
        url('../../assets/fonts/OpenSansLight-Italic.ttf') format('truetype'),
        url('../../assets/fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Light.eot');
    src: url('../../assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Light.woff') format('woff'),
        url('../../assets/fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-BoldItalic.eot');
    src: url('../../assets/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../assets/fonts/OpenSans-Bold.eot');
    src: url('../../assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../assets/fonts/OpenSans-Bold.woff') format('woff'),
        url('../../assets/fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Tablet
$screen-tablet: 600px;

// Desktop
$screen-desktop: 1240px;


// Tablet devices
@mixin tablet {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
 }
 
 // Desktop devices
 @mixin desktop {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
 }

html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: black;
}

label {
    color: white;
}

.ny-logo-start {
    height:185px;
    transition: all 0.5s ease-in-out 0.1s;
}

.ny-logo {
    height: 140px;
    transition: all 0.5s ease-in-out 0.1s;
}

header {
    margin-top: 25px;
    margin-bottom: 35px;
}

.choose-section {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 250px;
    transition: all 0.5s ease-in-out 0.1s;
}

.choose-section-after-search {
    @extend .choose-section;
    transition: all 0.5s ease-in-out 0.1s;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65px;
}

label {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
}

select {
    font-family: 'Open Sans', Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.box {
    display: table-cell;
    vertical-align: bottom;
    height: 480px;
    p {
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: rgba(black, 0.5);
        font-family: 'Open Sans', Arial, sans-serif;
    }
}

a:hover {
    transform: scale(1.1);
    border-radius: 5%;;
    .box {
        transition: all 0.5s ease-in-out 0.1s;
        p {
            font-size: 1.5rem;
            transition: all 0.5s ease-in-out 0.1s;
        }
    }
}

a:link {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center; 
}

footer p {
    margin-top: 2rem;
    font-family: 'Open Sans', Arial, sans-serif;
    color: white;
}
  

@include tablet {
    .ny-logo {
        height: 78px;
        position: relative;
        top: 0.5rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .choose-section {
        width: 360px;
        height: 130px;
        flex-direction: row;
        align-items: center;
    }

    .choose-section-after-search {
        margin-left: initial;
    }

    .dropdown {
        align-items: flex-start;
    }
}

@include desktop {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .choose-section {
        width: 470px;
        margin-left: initial;
    }

    footer {
        justify-content: flex-start; 
    }

    html {
        margin: initial;
    }

    body {
        padding-left: 30px;
    }
}


